body {
  background: #202632;
  overflow: hidden;
}
.screen {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.advice-generator {
  width: 540px;
  height: 335px;
  background-color: #313a49;
  border-radius: 20px;
}

.window-generator {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex-wrap: nowrap;
}
.column-generator {
  flex-direction: column;
}
#dice-btn {
  display: flex;
  margin-top: -25px;
  height: 50px;
  width: 50px;
  background-image: url(./Imgs/dice.png);
  background-size: cover;
  border-radius: 100%;
  border: none;
  cursor: pointer;
}

img:nth-child(1) {
  margin-right: 15px;
}
img:nth-child(4) {
  margin-left: 15px;
}
img:nth-child(2) {
  margin-right: 7px;
}

.advice-number {
  width: 101px;
  height: 19px;
  font-family: "StratosWeb";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #53ffab;
}
#advices {
  width: 468px;
  height: 114px;
  font-family: "StratosWeb";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  color: #d9d9d9;
}
